.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .7rem;
}

.account--title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account--top {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: top;
  justify-content: space-between;
  gap: .7rem;
}

.account--top > :nth-child(1) {
  flex-grow: 1;
}

.account--personal {
  flex-grow: 1;
  padding: 10px 40px;
}

.account--personal > h2 {
  text-align: left;
  font-weight: 300;
}


@media (max-width: 800px) {

  .account--top {
    height: 50px;
  }

  .account--title {
    font-size: 1rem;
    flex-grow: 0;
    height: 50px;
  }

  .account--personal > h2 {
    font-size: 1.2rem;
  }
}