.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .7rem;
}

.account--title {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account--top {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: top;
  justify-content: space-between;
  gap: .7rem;
}

.account--top > :nth-child(1) {
  flex-grow: 1;
}

.account--personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px 40px;
}

.account--personal > h2 {
  text-align: left;
  font-weight: 300;
}

.account--personal-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.account--personal-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
  border-right: 1px solid var(--lila-50);
}

.account--personal-container > form > * {
  width: 450px;
  box-sizing: border-box;
  transition: all .3s ease;
}

.account--personal-container > form > label {
  text-align: left;
  color: var(--lila-dark);
}

.account--personal-container > form > input {
  color: var(--lavanda);
  height: 2rem;
  border-radius: 7px;
  padding-left: .5rem;
  font-size: 1rem;
  background-color: var(--blanco-30);
  outline: none;
  border: 1px solid var(--lavanda);
  margin-bottom: 2rem;
}

.account--personal-container > form > input::placeholder {
  color: var(--lila-70);
}

.account--personal-container > form > input:focus {
  outline: 1px solid var(--lila);
  color: var(--lila-dark);
  background-color: var(--lila-10);
}

.account--personal-container > form > a {
  text-align: left;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.account--personal-container > form > button {
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 18px;
  border: 2px solid var(--lila);
  background-color: var(--lila);
  cursor: pointer;
}

.account--personal-container > form > button:hover {
  background-color: var(--lila-50);
  color: var(--lavanda);
}

.account--profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  flex-grow: 1;
}

.account--img-specs {
  font-size: .8rem;
  color: var(--lila);
}

.account--profile-pic > h3 {
  font-weight: 400;
  font-size: 1rem;
}

.account--pic-wrapper {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.account--pic-wrapper > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid var(--dawn);
  transition: all .3s ease-in-out;
  box-sizing: border-box;
}

#account--camera {
  font-size: 4rem;
  position: absolute;
  inset: 0;
  margin: auto;
  color: transparent;
  transition: all .3s ease-in-out;
}

.account--pic-wrapper:hover > img {
  border: 9px solid var(--pale);
}

.account--pic-wrapper:hover > #account--camera {
  color: var(--lila-70);
}

@media (max-width: 800px) {

  .account--top {
    height: 50px;
  }

  .account--title {
    font-size: 1rem;
    flex-grow: 0;
    height: 50px;
  }

  .account--personal > h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .account--personal-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .account--personal-container > form > input {
    margin-bottom: 1rem;
  }

  .account--personal-container > form > * {
    width: 270px;
  }

  .account--profile-pic {
    gap: 1rem;
    width: 100%;
    padding: 1rem;
  }

  .account--personal-container > form {
    width: 100%;
    border: none;
  }

  .account--pic-wrapper {
    height: unset;
  }

  .account--pic-wrapper:hover > img {
    border: 5px solid var(--dawn);
  }
  
  .account--pic-wrapper:hover > #account--camera {
    color: transparent;
  }

  .account--pic-wrapper > img {
    width: 160px;
    height: 160px;
  }

  #profile-pic-change {
    font-weight: 500;
    font-size: .9rem;
    padding: 10px 15px;
    background-color: var(--lila);
    border-radius: 18px;
    border: none;
  }
}