.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .7rem;
}

.account--title {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account--top {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: top;
  justify-content: space-between;
  gap: .7rem;
}

.account--top > :nth-child(1) {
  flex-grow: 1;
}

.account--personal {
  flex-grow: 1;
  padding: 10px 40px;
}

.account--personal > h2 {
  text-align: left;
  font-weight: 300;
}

.account--personal-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.account--personal-container > form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.account--personal-container > form > * {
  width: 500px;
  box-sizing: border-box;
  transition: all .3s ease;
}

.account--personal-container > form > label {
  text-align: left;
  color: var(--lila-dark);
}

.account--personal-container > form > input {
  color: var(--lavanda);
  height: 2rem;
  border-radius: 7px;
  padding-left: .5rem;
  font-size: 1rem;
  background-color: var(--blanco-30);
  outline: none;
  border: 1px solid var(--lavanda);
  margin-bottom: 2rem;
}

.account--personal-container > form > input::placeholder {
  color: var(--lila-70);
}

.account--personal-container > form > input:focus {
  outline: 1px solid var(--lila);
  color: var(--lila-dark);
  background-color: var(--lila-10);
}

.account--personal-container > form > a {
  text-align: left;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-weight: 700;
}

.account--personal-container > form > button {
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 18px;
  border: 2px solid var(--lila);
  background-color: var(--lila);
  cursor: pointer;
}

.account--personal-container > form > button:hover {
  background-color: var(--lila-50);
  color: var(--lavanda);
}

.account--profile-pic {
  width: 500px;
}

.account--profile-pic > h3 {
  font-weight: 400;
  font-size: 1rem;
}

.account--profile-pic > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid var(--dawn);
}

@media (max-width: 800px) {

  .account--top {
    height: 50px;
  }

  .account--title {
    font-size: 1rem;
    flex-grow: 0;
    height: 50px;
  }

  .account--personal > h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .account--personal-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .account--personal-container > form > input {
    margin-bottom: 1rem;
  }

  .account--personal-container > form > * {
    width: 270px;
  }

  .account--profile-pic {
    width: fit-content;
    height: 250px;
  }

  .account--profile-pic > img {
    width: 160px;
    height: 160px;
  }
}