.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}