.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .7rem;
}

.dashboard--title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard--top {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: top;
  justify-content: space-between;
  gap: .7rem;
}

.dashboard--top > :nth-child(1) {
  flex-grow: 1;
}

.dashboard--content {
  flex-grow: 1;
  padding: 10px 40px;
}

.dashboard--content > h2 {
  text-align: left;
  font-weight: 300;
}

@media (max-width: 800px) {
  .dashboard--top {
    flex-direction: column;
    height: 200px;
  }
}