.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .7rem;
}

.dashboard--title {
  font-size: 1.2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.dashboard--top {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: top;
  justify-content: space-between;
  gap: .7rem;
}

.dashboard--content {
  flex-grow: 1;
  padding: 10px 40px;
}

.dashboard--content > h2 {
  text-align: left;
  font-weight: 300;
}

@media (max-width: 800px) {
  .dashboard--top {
    flex-direction: column;
    justify-content: space-evenly;
    height: 170px;
  }

  .dashboard--title {
    font-size: 1rem;
    flex-grow: 0;
    height: 50px;
  }
}