.audio-player {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  width: 90%;
}

.audio-player--timeline {
  height: 3px;
  width: 100%;
  color: var(--lila);
  cursor: pointer;
}

.progress-bar--timestamps {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--lavanda);
  font-weight: 300;
  font-family: Helvetica;
}

.progress-bar--controls {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.progress-bar--controls > button {
  background-color: transparent;
  border: none;
  color: var(--lila-90);
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 100;
  transition: all .1s ease-in-out;
  text-align: center;
}

.progress-bar--controls > button:hover {
  color: var(--lavanda);
}

@media (max-width: 800px) {
  .audio-player {
    width: 90%;
  }
  
  .audio-player--timeline {
    width: 80%;
  }

  .progress-bar--timestamps {
    font-size: .8rem;
    width: 80%;
  }

  .progress-bar--controls {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .progress-bar--controls > button {
    font-size: 2rem;
  }
}