.course {
  min-height: 20vw;
  border-radius: 7px;
  overflow: hidden;
  padding: 20px;
  margin: 0;
  position: relative;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.course > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  filter: blur(0);
  transition: .7s ease;
}

.course:hover > img {
  filter: blur(9px) brightness(.9);
}

.course:hover > h3, .course:hover > p {
  opacity: 1;
}

.course > h3, .course > p {
  position: relative;
  opacity: 0;
  transition: .7s ease;
}