.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  flex-grow: 0;
  font-size: 12px;
}

.profile-pic > img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgba(180,90,180,.7);
}

@media (max-width: 800px) {
  .profile-pic {
    width: 50px;
  }
}